
body {
	/*background-color: #eaeaea;*/
	background: url(../images/pizza.jpg) no-repeat 50% 50%;
}

h1 {
	text-shadow: 5px 5px 10px rgba(0,0,0,1);
	color: #fff;
	font-size: 80px;
}

#menuBG {
	width:650px;
	height:600px;
	margin:10px auto;
	font-family: Arial, sans-serif;
}

#menuBG>h1 {
	padding: 20px 0px;
	margin:0 0px 0 20px;
	font-family: Arial, sans-serif;
	text-align: center;
}

#frmMenu {
	width:400px;
	height:500px;
}
		
#totalPrice {
	width:200px;
	height:190px;
	margin:0 auto;
	float:right;
}

h3 {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	background-color: #e20000;
	color: #fff;
}

#frmMenu {
	margin: 0% auto;
	width: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
	border-radius: 20px;

}

.menu { 
	background-color: #fff; 
	flex: 1 150px;
	min-width: 0;
	border: 2px solid #686868;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.7);
	padding: 0 0 10px 0;
	border-radius: 25px;
}

#totalPrice {
	text-align: center;
	padding-top: 22px;
	float: right;
}

#showText {
	width:185px;
	height:auto;
	margin:0px auto;
	float: left;
	padding-left: 15px;
	padding-bottom: 15px;
}

#cart {
	top:0;
	margin:auto;
	width:400px;
	height: 250px auto;
	display: flex;
	color: #000;
	background-color: #fff;
	border-radius: 25px;
	box-shadow: 0 0 5px #000;
}

.buttons {
	padding: 10px 0px;
	display: flex;
	justify-content: center;
}

#btnOrder {
	height: 40px;
	width: 150px;
	border-radius: 25px;
	font-size: 20px;
	text-shadow: 2, 2, 2, #000;
	background-color: #e20000;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
}
		